<!-- start banner Area --> 
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<!-- <h6 class="text-white">Openning on 21st February, 2018</h6> -->
				<h1 class="text-white">
					WORLD GATKA Federation				
				</h1>
				<p class="pt-20 pb-20 text-white">					
					Let Play Gatka
				</p>
				<!-- <a href="#" class="primary-btn text-uppercase">Get Started</a> -->
			</div>											
		</div>
	</div>					
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<!-- <section class="service-area pt-50" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-clock"></span>
				  <h4>Openning Hours</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-rocket"></span>
				  <h4>Ongoing Exhibitions</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-briefcase"></span>
				  <h4>Openning Events</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>												
		</div>
	</div>	
</section> -->
<!-- End service Area -->

<!-- Start quote Area -->
<section class="quote-area section-gap">
	<div class="container">				
		<div class="row">
			<div class="col-lg-12">
				<h1 class="mb-10">World Gatka Federation</h1>
				<h5 class="mb-20">Lets Play Gutka</h5>
				<p>Gatka is commonly referred to as an India Martial art. Specifically Gatka refers to the martial art used by the of northern India. Actually Gatka is the name of a stick used to practice sword fighting. The word Gatka is a slang expression coined in the nineteen hundreds to describe a number of stick, staff and sword styles made for use in public demonstration.</p>
			</div>
		</div>
	</div>	
</section>
<!-- End quote Area -->

<!-- Start exibition Area -->
<section class="exibition-area section-gap" id="exhibitions">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Checkout our Events</h1>
					<p>Lets Play Gutka</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="active-exibition-carusel owl-carousel">
				<% @events.each do |event| %>
					<div class="single-exibition item">
						<%= Event.getYoutubeIframe(event.video_url) %>
						<a href="#"><h4><%= event.title %></h4></a>
						<p>
							<%= truncate(event.description, :length => 90) %>
						</p>
						<%= link_to 'View Details', event_path(event), class: 'primary-btn text-uppercase' %>
						<h6 class="date mt-15"><%= event.datetime.strftime("%d %b %Y") %></h6>
					</div>
				<% end %>
			</div>													
		</div>
	</div>	
</section>
<!-- End exibition Area -->

<!-- Start upcoming-event Area -->
<!-- <section class="upcoming-event-area section-gap" id="events">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Our Achievements</h1>
					<p>Lets Play Gatka</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 event-left">
				<div class="single-events">
					<img class="img-fluid" src="assets/u1.jpg" alt="">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
				</div>
				<div class="single-events">
					<img class="img-fluid" src="assets/u3.jpg" alt="">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
				</div>							
			</div>
			<div class="col-lg-6 event-right">
				<div class="single-events">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
					<img class="img-fluid" src="assets/u2.jpg" alt="">
				</div>
				<div class="single-events">
					
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
					<img class="img-fluid" src="assets/u4.jpg" alt="">
				</div>							
			</div>
		</div>
	</div>	
</section> -->
<!-- End upcoming-event Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Latest News</h1>
					<p>Lets Play Gatka</p>
				</div>
			</div>
		</div>					
		<div class="row">
			<div class="single-blogNW owl-carousel">
				<% @news.each do |news| %>
					<% if news.is_active? %>
						<div class="single-blog item">
							<div class="thumb">
								<% if news.attachments.exists? %>
									<div class="thumb_img" style="background-image: url(<%= news.attachments.first.attachment.url %>)">
									</div>
								<% else %>
									<div class="thumb_img" style="background-image: url('/assets/placeholder.gif')">
									</div>
								<% end %>
															
							</div>
							<p class="date"><%= news.datetime.strftime("%d %b %Y") %></p>
							<a href="#"><h4><%= news.title %></h4></a>
							<p>
								<%= truncate(news.description, :length => 60) %>
							</p>
							<%= link_to 'View Details', news_path(news), class: 'primary-btn text-uppercase' %>						
						</div>
					<% end %>
				<% end %>
			</div>						
		</div>
	</div>	
</section>
<!-- End blog Area -->

<!-- Start gallery Area -->
<section class="gallery-area section-gap" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10 text-white">Our Gallery</h1>
					<p>Lets Play Gutka</p>
				</div>
			</div>
		</div>						
		<div id="grid-container" class="row">
			<a class="single-gallery" href="/assets/g1.jpg"><img class="grid-item" src="/assets/g1.jpg"></a>
			<a class="single-gallery" href="/assets/g2.jpg"><img class="grid-item" src="/assets/g2.jpg"></a>
			<a class="single-gallery" href="/assets/g3.jpg"><img class="grid-item" src="/assets/g3.jpg"></a>
			<a class="single-gallery" href="/assets/g4.jpg"><img class="grid-item" src="/assets/g4.jpg"></a>
			<a class="single-gallery" href="/assets/g5.jpg"><img class="grid-item" src="/assets/g5.jpg"></a>
			<a class="single-gallery" href="/assets/g6.jpg"><img class="grid-item" src="/assets/g6.jpg"></a>
			<a class="single-gallery" href="/assets/g7.jpg"><img class="grid-item" src="/assets/g7.jpg"></a>
			<a class="single-gallery" href="/assets/g8.jpg"><img class="grid-item" src="/assets/g8.jpg"></a>
			<a class="single-gallery" href="/assets/g9.jpg"><img class="grid-item" src="/assets/g9.jpg"></a>
			<a class="single-gallery" href="/assets/g1.jpg"><img class="grid-item" src="/assets/g1.jpg"></a>
			<a class="single-gallery" href="/assets/g2.jpg"><img class="grid-item" src="/assets/g2.jpg"></a>
			<a class="single-gallery" href="/assets/g3.jpg"><img class="grid-item" src="/assets/g3.jpg"></a>
		</div>	
	</div>	
</section>
<!-- End gallery Area -->
