<!-- start banner Area --> 
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-8">
				<!-- <h6 class="text-white">Openning on 21st February, 2018</h6> -->
				<h1 class="text-white">
					WORLD GATKA Federation				
				</h1>
				<p class="pt-20 pb-20 text-white">					
					Let's Play Gatka
				</p>
				<!-- <a href="#" class="primary-btn text-uppercase">Get Started</a> -->
			</div>											
		</div>
	</div>					
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<!-- <section class="service-area pt-50" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-clock"></span>
				  <h4>Openning Hours</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-rocket"></span>
				  <h4>Ongoing Exhibitions</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>
			<div class="col-lg-4">
				<div class="single-service">
				  <span class="lnr lnr-briefcase"></span>
				  <h4>Openning Events</h4>
				  <p>
				  	Mon - Fri: 10.00am to 05.00pm
					Sat: 12.00pm to 03.00 pm
					Sunday Closed
				  </p>						 	
				  <div class="overlay">
				    <div class="text">
				    	<p>
				    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
				    	</p>
				    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
				    </div>
				  </div>
				</div>							
			</div>												
		</div>
	</div>	
</section> -->
<!-- End service Area -->

<!-- Start quote Area -->
<section class="quote-area section-gap">
	<div class="container">				
		<div class="row">
			<div class="col-lg-12">
				<h1 class="mb-10">World Gatka Federation</h1>
				<h5 class="mb-20">Let's Play Gatka</h5>
				<p>Indian martial art 'Gatka' is associated with the Sikhs history and an integral part of an array of Sikh Shastar Vidiya developed during 15th century for self-defence. It was a battle technique of Sikh warriors during the martial period of great Sikh Gurus. The present form further perfected into a sport in the later 19th century. Gatka is performed & played in two sub-styles called Rasmi (traditional) and Khel (sport) respectively in the Northern India since 1920.</p>
				<p>Gatka was generally at public display during religious processions but Punjab Gatka Association (PGA), Chandigarh Gatka Association (CGA) and Gatka Federation of India (GFI), under the aegis of World Gatka Federation, have taken major initiatives for its revival and promotion by putting this rare martial art into practice as a sport in India and worldwide. It is a humble effort to revive this forgotten and dying art having a historical significance. In order to preserve, promote and showcase this rare Sikh martial art at national & international level, these Gatka sports organizations are producing a documentary film on Gatka.</p>
			</div>
		</div>
	</div>	
</section>
<!-- End quote Area -->

<!-- Start exibition Area -->
<section class="exibition-area section-gap" id="exhibitions">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Checkout our Events</h1>
					<p>Let's Play Gatka</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="active-exibition-carusel owl-carousel">
				<% @events.each do |event| %>
					<div class="single-exibition item">
						<%= event.embedUrl %>
						<a href="#"><h4><%= event.title %></h4></a>
						<p>
							<%= truncate(event.description, :length => 90) %>
						</p>
						<%= link_to 'View Details', event_path(event), class: 'primary-btn text-uppercase' %>
						<h6 class="date mt-15"><%= event.datetime.strftime("%d %b %Y") %></h6>
					</div>
				<% end %>
			</div>													
		</div>
	</div>	
</section>
<!-- End exibition Area -->

<!-- Start upcoming-event Area -->
<!-- <section class="upcoming-event-area section-gap" id="events">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Our Achievements</h1>
					<p>Lets Play Gatka</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 event-left">
				<div class="single-events">
					<img class="img-fluid" src="assets/u1.jpg" alt="">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
				</div>
				<div class="single-events">
					<img class="img-fluid" src="assets/u3.jpg" alt="">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
				</div>							
			</div>
			<div class="col-lg-6 event-right">
				<div class="single-events">
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
					<img class="img-fluid" src="assets/u2.jpg" alt="">
				</div>
				<div class="single-events">
					
					<a href="#"><h4>Event on the rock solid carbon</h4></a>
					<h6><span>21st February</span> at Central government museum</h6>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
					</p>
					<a href="#" class="primary-btn text-uppercase">View Details</a>
					<img class="img-fluid" src="assets/u4.jpg" alt="">
				</div>							
			</div>
		</div>
	</div>	
</section> -->
<!-- End upcoming-event Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Latest News</h1>
					<p>Let's Play Gatka</p>
				</div>
			</div>
		</div>					
		<div class="row">
			<div class="single-blogNW owl-carousel">
				<% @news.each do |news| %>
					<% if news.is_active? %>
						<div class="single-blog item">
							<div class="thumb">
								<% if news.attachments.exists? %>
									<div class="thumb_img" style="background-image: url(<%= news.attachments.first.attachment.url %>)">
									</div>
								<% else %>
									<div class="thumb_img" style="background-image: url('/assets/placeholder.gif')">
									</div>
								<% end %>
															
							</div>
							<p class="date"><%= news.datetime.strftime("%d %b %Y") %></p>
							<a href="#"><h4><%= news.title %></h4></a>
							<p>
								<%= truncate(news.description, :length => 60) %>
							</p>
							<%= link_to 'View Details', news_path(news), class: 'primary-btn text-uppercase' %>						
						</div>
					<% end %>
				<% end %>
			</div>						
		</div>
	</div>	
</section>
<!-- End blog Area -->

<!-- Start gallery Area -->
<section class="gallery-area section-gap" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-20 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10 text-white">Our Gallery</h1>
					<p>Let's Play Gatka</p>
				</div>
			</div>
		</div>						
		<div id="grid-container" class="row">
			<% if @attachment_count == 12 %>
				<% @attachments.each do |attachment| %>
					<%= link_to attachment.attachment.url, class: "single-gallery" do %>
						<%= image_tag(attachment.attachment.url, class: 'grid-item') %>
					<% end %>
				<% end %>
			<% else %>
				<% @attachments.each do |attachment| %>
					<%= link_to attachment.attachment.url, class: "single-gallery" do %>
						<%= image_tag(attachment.attachment.url, class: 'grid-item') %>
					<% end %>
				<% end %>
				<% if @remaining_attachment > 9 %>
					<% (1..9).each do |i| %>
						<a class="single-gallery" href="/assets/g<%= i %>.jpg"><img class="grid-item" src="/assets/g<%= i %>.jpg"></a>
					<% end %>
					<% (1..(@remaining_attachment-9)).each do |i| %>
						<a class="single-gallery" href="/assets/g<%= i %>.jpg"><img class="grid-item" src="/assets/g<%= i %>.jpg"></a>
					<% end %>
				<% else %>
					<% (1..@remaining_attachment).each do |i| %>
						<a class="single-gallery" href="/assets/g<%= i %>.jpg"><img class="grid-item" src="/assets/g<%= i %>.jpg"></a>
					<% end %>
				<% end %>
			<% end %>
		</div>	
	</div>	
</section>
<!-- End gallery Area -->
