<div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<%= link_to "Dashboard", admin_index_path %>
	    </li>
	    <li class="breadcrumb-item">Events</li>
	    <li class="breadcrumb-item active">All Events</li>
	</ol>

	<!-- Page Content -->
	<div class="addVideoBx">
		<h3>All Events</h3>
		<%= link_to "Add Event", admin_event_new_path, class: "btn btn-primary" %>
	</div>
	<hr>
	<!-- DataTables Example -->
  	<div class="card mb-3">
    	<div class="card-header">
      		<i class="fa fa-table"></i>
      		All Events
  		</div>
    	<div class="card-body">
      		<div class="table-responsive">
        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          			<thead>
			            <tr>
			              	<th width="20%">Title</th>
			              	<th width="40%">Description</th>
			              	<th width="13%">Date</th>
			              	<th width="17%">Video Url</th>
			              	<th width ="10%">Action</th>
			            </tr>
          			</thead>
          			<tbody>
          				<% @events.each do |event| %>
				            <tr>
				              	<td><%= truncate(event.title, :length => 20) %></td>
				              	<td>
				              		<%= truncate(event.description, :length => 50) %>
				              	</td>
				              	<td><%= event.datetime.strftime("%d %b %Y") %></td>
				              	<td>
				              		<%= link_to truncate(event.video_url, :length => 30), event.video_url %>
				              	</td>
				              	<td>
				              		<ul class="d-flex justify-content-around align-items-center adminActions mb-0">
				              			<li><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_admin_event_path(event), "data-toggle" => "tooltip", "data-placement" => "top", :title => "Edit Event" %></li>
				              			<li><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admin_event_path(event), method: :delete, data: {confirm: 'Are you Sure?'}, "data-toggle" => "tooltip", "data-placement" => "top", :title => "Delete Event" %></li>
				              		</ul>				              		
				              	</td>
				            </tr>
            			<% end %>
          			</tbody>
        		</table>
      		</div>
    	</div>
  	</div>
</div>
<!-- /.container-fluid -->