<div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<%= link_to "Dashboard", admin_index_path %>
	    </li>
	    <li class="breadcrumb-item">Events</li>
	    <li class="breadcrumb-item active">Add Event</li>
	</ol>

	<!-- Page Content -->
	<h3>Add Event</h3>
	<hr>
	<div class="addNewsForm">
		<%= form_for(:event, :url => admin_event_create_path) do |f| %>
            <div class="form-group">
              	<div class="form-label-group-new">
	              	<%= f.label :title %>
	                <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control', placeholder: "Enter Event Title" %>
              	</div>
            </div>

            <div class="form-group">
              	<div class="form-label-group-new">
	              	<%= f.label :description %>
	                <%= f.text_area :description, autocomplete: "description", class: 'form-control',placeholder: "Enter Event Description", rows: "5" %>
	            </div>
            </div>

            <div class="form-group">
              	<div class="form-label-group-new">
              		<%= f.label :datetime %>
	              	<%= f.date_field :datetime, class: 'form-control' %>
              	</div>
            </div>
            
            <div class="form-group">
              	<div class="form-label-group-new">
	              	<%= f.label :video_url %>
	                <%= f.text_field :video_url, autofocus: true, autocomplete: "video_url", class: 'form-control', placeholder: "Enter Event Video Url" %>
	            </div>
            </div>

            <div class="actions">
              	<%= f.submit "Add Event", :class => 'btn btn-primary btn-block adminActionBtn' %>
            </div>
        <% end %>
	</div>
</div>
<!-- /.container-fluid -->