<div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<%= link_to "Dashboard", admin_index_path %>
	    </li>
	    <li class="breadcrumb-item">News</li>
	    <li class="breadcrumb-item active">All News</li>
	</ol>

	<!-- Page Content -->
	<div class="addVideoBx">
		<h3>All News</h3>
		<%= link_to "Add News", admin_news_new_path, class: "btn btn-primary" %>
	</div>
	<hr>
	<!-- DataTables Example -->
  	<div class="card mb-3">
    	<div class="card-header">
      		<i class="fa fa-table"></i>
      		All News
  		</div>
    	<div class="card-body">
      		<div class="table-responsive">
        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          			<thead>
			            <tr>
			            	<!-- <th width="15%">Image</th> -->
			              	<th width="20%">Title</th>
			              	<th width="40%">Description</th>
			              	<th width="15%">Date</th>
			              	<th width="15%">Status</th>
			              	<th width ="10%">Action</th>
			            </tr>
          			</thead>
          			<tbody>
          				<% @news.each do |n| %>
				            <tr>
				              	<!-- <td>-</td> -->
				              	<td><%= n.title %></td>
				              	<td>
				              		<%#= n.description %>
				              		<%= truncate(n.description, :length => 60) %>
				              	</td>
				              	<td><%= n.datetime.strftime("%d %b %Y") %></td>
				              	<% if n.is_active? %>
				              		<td>Active</td>
				              	<% else %>
				              		<td>Inactive</td>
				              	<% end %>
				              	<td>
				              		<ul class="d-flex justify-content-around align-items-center adminActions mb-0">
				              			<li><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_admin_news_path(n), "data-toggle" => "tooltip", "data-placement" => "top", :title => "Edit News" %></li>
				              			<li><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admin_news_path(n), method: :delete, data: {confirm: 'Are you Sure?'}, "data-toggle" => "tooltip", "data-placement" => "top", :title => "Delete News" %></li>
				              		</ul>
				              		
				              	</td>
				            </tr>
            			<% end %>
          			</tbody>
        		</table>
      		</div>
    	</div>
  	</div>
</div>
<!-- /.container-fluid -->