<div class="container-fluid">
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	    	<%= link_to "Dashboard", admin_index_path %>
	    </li>
	    <li class="breadcrumb-item">Gallery</li>
	    <li class="breadcrumb-item active">All Videos</li>
	</ol>

	<!-- Page Content -->
	<h3>All Videos</h3>
	<hr>
	<!-- DataTables Example -->
  	<div class="card mb-3">
    	<div class="card-header">
      		<i class="fa fa-table"></i>
      		All Videos
  		</div>
    	<div class="card-body">
      		<div class="table-responsive">
        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          			<thead>
			            <tr>
			              	<th width="20%">Title</th>
			              	<th width="40%">Video Url</th>
			              	<th width ="10%">Action</th>
			            </tr>
          			</thead>
          			<tbody>
          				<% @gallery_videos.each do |video| %>
				            <tr>
				              	<td><%= video.title %></td>
				              	<td>
				              		<%= link_to truncate(video.video_url, :length => 50), video.video_url %>
				              	</td>
				              	<td>
				              		<ul class="d-flex justify-content-around align-items-center adminActions mb-0">
				              			<li>
				              				<%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_admin_gallery_video_path(video) %>
				              			</li>
				              			<li>
				              				<%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, admin_gallery_video_path(video), method: :delete, data: {confirm: 'Are you Sure?'} %>			              				
				              			</li>
				              		</ul>				              		
				              	</td>
				            </tr>
            			<% end %>
          			</tbody>
        		</table>
      		</div>
    	</div>
    	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  	</div>
</div>
<!-- /.container-fluid -->