<!DOCTYPE html>
<html>
  <head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>World Gatkha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--CSS============================================= -->
    <link rel="stylesheet" href="/assets/linearicons.css">
    <link rel="stylesheet" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap.css">
    <link rel="stylesheet" href="/assets/magnific-popup.css">
    <link rel="stylesheet" href="/assets/nice-select.css">          
    <link rel="stylesheet" href="/assets/animate.min.css">
    <link rel="stylesheet" href="/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/main.css">    
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    
    <header id="header" id="home">
      <div class="container header-top">
        <div class="row">
          <div class="col-6 top-head-left">
            <ul>
              <li><a href="#">Visit Us</a></li>
              <!-- <li><a href="#">Buy Ticket</a></li> -->
            </ul>
          </div>
          <div class="col-6 top-head-right">
            <ul>
              <li><a href="https://www.facebook.com/WORLD-GATKA-Federation-871240016276068/"><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li> -->
              <li><a href="https://plus.google.com/u/2/101301337271453275821/posts"><i class="fa fa-google-plus"></i></a></li>
              <!-- <li><a href="javascript:;"><i class="fa fa-rss"></i></a></li> -->
            </ul>
          </div>              
        </div>
      </div>
      <hr>
      <div class="container header-bot">
        <div class="row align-items-center justify-content-between d-flex">
          <div id="logo">
            <a href="index.html"><img src="/assets/logo.jpg" alt="" title="" /></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><%= link_to 'Home', home_path %></li>
              <li class="menu-has-children">
                <%= link_to 'Activity', 'javascript:;' %>
                <ul>
                  <li><%= link_to 'Age Groups & Events', activity_categories_path %></li>
                  <li><%= link_to 'Types of Tournaments', activity_tournaments_path %></li>
                </ul>
              </li>
              <li><%= link_to 'Events', events_path %></li>
              <li class="menu-has-children">
                <%= link_to 'Gallery', 'javascript:;' %>
                <ul>
                  <li><%= link_to 'Albums', gallery_albums_path %></li>
                  <li><%= link_to 'Videos', gallery_videos_path %></li>
                </ul>
              </li>
              <li><%= link_to 'History', history_path %></li>
              <li><%= link_to 'Advertise With Us', advertise_with_us_path %></li>
              <li><%= link_to 'About Us', about_us_path %></li>
              <li><%= link_to 'Contact Us', contact_us_path %></li>                            
            </ul>
          </nav><!-- #nav-menu-container -->            
        </div>
      </div>
    </header>
    <!-- #header -->
    <%= yield %>
    <!-- start footer Area -->    
    <footer class="footer-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Gatka is commonly referred to as an India Martial art. Specifically Gatka refers to the martial art used by the of northern India. Actually Gatka is the name of a stick used to practice sword fighting. The word Gatka is a slang expression coined in the nineteen hundreds to describe a number of stick, staff and sword styles made for use in public demonstration.
              </p>
              <!-- <p class="footer-text"> -->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <!-- </p> -->
            </div>
          </div>
          <div class="col-lg-5  col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>Stay update with our latest</p>
              <div class="" id="mc_embed_signup">
                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                  <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                  <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                  <div style="position: absolute; left: -5000px;">
                      <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>            
          <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
              </div>
            </div>
          </div>              
        </div>
      </div>
    </footer> 
    <!-- End footer Area -->

    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="/assets/application.js"></script> -->
    <script src="/assets/bootstrap.min.js"></script>      
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/assets/easing.min.js"></script>
    <script src="/assets/notify.js"></script>
    <script src="/assets/hoverIntent.js"></script>
    <script src="/assets/superfish.min.js"></script> 
    <script src="/assets/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script> 
    <script src="/assets/owl.carousel.min.js"></script>  
    <script src="/assets/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/justified.min.js"></script>         
    <script src="/assets/jquery.sticky.js"></script>
    <script src="/assets/jquery.nice-select.min.js"></script>      
    <script src="/assets/parallax.min.js"></script>    
    <!-- <script src="/assets/mail-script.js"></script>  -->
    <script src="/assets/main.js"></script>
    <script>
      $(function(){
          var current = location.pathname;
          $('nav li').removeClass('menu-active');
          $('nav li a').each(function(){
              var $this = $(this);
              // if the current path is like this link, make it active
              if($this.attr('href').indexOf(current) !== -1){
                  $this.closest('li').addClass('menu-active');
              }
          })
      })
    </script>
    <script>
      <% if flash[:notice].present? %>
        message = "<%= flash[:notice]%>"
        type = 'info'
        notification(message,type)
      <%end%>

      <% if flash[:alert].present? %>
        message = "<%= flash[:alert]%>"
        type = 'info'
        notification(message,type)
      <%end%>

      <% if flash[:message].present?%>
        message = "<%= flash[:message]%>"
        type = 'info'
        notification(message,type)
      <%end%>

      <% if flash[:errors].present?%>
        <%flash[:errors].each do |err|%>
          message = "<%= err.html_safe %>"
          type = 'info'
          notification(message,type)
        <%end%>
      <% end %>

      function notification(message,type){
        $.notify(message, {
          className:type,
          clickToHide: false,
          globalPosition: 'top rights',
          autoHideDelay: 3000
        });
      }
    </script>
  </body>
</html>
